.product-image {
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    margin: 5px 0;
}

.card-product {
    margin: 10px 10px 0 10px;
    max-height: 400px;
    min-height: 400px;
    max-width: 50vw;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
    transition: transform .2s; /* Animation */

}
.card {
    margin: 10px 0;
}

.card-product:hover {
    transform: scale(1.02);
    z-index: 1;
    cursor: pointer;
  }

.card-subtitle {
    margin: 10px 0;
}

.flex-container {
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50vw;
    align-items: center;
    
}

.description {
    text-align: left;
}

.card-button {
    margin: 20px 0;
}

.nav-item:hover {
    cursor: pointer;
}
