.product-image {
    max-height: 200px;
    max-width: 200px;
}

.card {
    margin-bottom: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    transition: transform .2s; /* Animation */
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
    cursor: pointer;
  }

.card-subtitle {
    margin: 10px 0;
}

.flex-container {
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    align-items: center;
    
}