.header {
    background-color: #000000;
}

.logo {
    
    
    width: 250px;
    min-width: 10px;
    height: 100px;
    min-height: 75px;
}

.account-link {
    text-align: right;
    color: white;
}