.header {
    background-color: #000000;
}

.logo {
    width: 250px;
    height: 100px;
    min-height: 75px;
}

.account-link {
    text-align: right;
    color: white;
}

.total {
    color: white;
    display: inline;
    margin-left: 5px;
    font-size: 0.8rem;
}


@media only screen and (max-width: 500px) {
    .logo {
        width: 215px;
    }
}
